.calendar-card {
  height: calc(100vh - 2 * var(--h1-font-size));
}

.logo-week-card {
  display: flex;
  height: 10%;
  padding-bottom: var(--h6-font-size);
}

.logo-card {
  flex: 0 0 20%;
  height: 100%;
}

.logo {
  height: 100%;
  padding: var(--h6-font-size);
}

.weeks-card {
  flex: 0 0 80%;
  padding-left: var(--h6-font-size);
}

.weeks-card ul {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-around;
  height: 100%;
}

.weeks-card ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--c146-3x4-4);
  border-radius: 5px;
  width: 100%;
  height: 50%;
  list-style-type: none;
  margin: 0 var(--h8-font-size);
}

.weeks-card ul li a {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--c146-3x4-4);
}

.month-current-week-card {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  padding-bottom: var(--h6-font-size);
}

.month-card {
  flex: 0 0 20%;
}

.month-card ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: space-around;
  height: 100%;
}

.month-card ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--c146-3x4-4);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: var(--h8-font-size) 0;
}

.month-card ul li a {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--c146-3x4-4);
}

.current-week-card {
  flex: 0 0 80%;
  padding-left: var(--h4-font-size);
  padding-bottom: var(--h6-font-size);
  padding-top: var(--h6-font-size);
}

.current-week-card > ul {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  height: 100%;
  list-style-type: none;
}

.current-week-card > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--c146-3x4-1);
  height: 100%;
}

.current-week-card > ul:first-child {
  border-top: 1px solid var(--c146-3x4-1);
}

.add-task-card {
  flex: 0 0 20%;
  text-align: center;
  font-size: var(--h2-font-size);
}

.add-task-card span {
  color: var(--c146-3x4-2);
}

.day-view-card {
  display: flex;
  flex: 0 0 80%;
  flex-direction: row;
  justify-content: space-between;
}

.task-summary-card {
  display: flex;
  flex-direction: row;
  flex: 0 0 70%;
  padding: 0 var(--h4-font-size);
}

.task-summary-card ul {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  list-style-type: none;
}

.task-summary-card ul li {
}

.task-urgent {
  color: red;
  font-weight: bold;
  /*
  background-color: red;
  padding: calc( var(--h6-font-size) / 25) var(--h6-font-size);
  border-radius: 5px;
  */
}

.task-normal {
  color: yellow;
  font-weight: bold;
  /*
  background-color: yellow;
  padding: calc( var(--h6-font-size) / 25) var(--h6-font-size);
  border-radius: 5px;
  */
}

.task-completed {
  color: green;
  font-weight: bold;
  /*
  background-color: green;
  padding: calc( var(--h6-font-size) / 25) var(--h6-font-size);
  border-radius: 5px;
  */
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 25%;
  padding: 5px 0;
  border: 1px solid var(--c146-3x4-3);
  border-radius: 5px;
}

.day-card span {
  font-size: var(--h7-font-size);
}

.day-card a {
  font-size: var(--h3-font-size);
  color: var(--c146-3x4-3);
}

.day-selected {
  background-color: var(--c146-3x4-3);
}

.day-selected a,
.day-selected span {
  color: white;
}

.year-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
}


.year-card span {
  font-size: var(--h1-font-size);
  text-align: center;
  padding: 7px 0 10px 0;
}

.year-text {
  flex: 0 0 50%;
  background-color: var(--c146-3x4-4);
  border-top: 1px solid var(--c146-3x4-4);
  border-bottom: 1px solid var(--c146-3x4-4);
  color: white;
}

.year-decrease {
  border-top: 1px solid var(--c146-3x4-4);
  border-left: 1px solid var(--c146-3x4-4);
  border-bottom: 1px solid var(--c146-3x4-4);
  border-radius: 5px;
}

.year-increase {
  border-top: 1px solid var(--c146-3x4-4);
  border-right: 1px solid var(--c146-3x4-4);
  border-bottom: 1px solid var(--c146-3x4-4);
  border-radius: 5px;
}

.year-decrease,
.year-increase {
  flex: 0 0 25%;
  color: var(--c146-3x4-4);
}

.year-increase:hover,
.year-decrease:hover {
  cursor: pointer;
}

.item-selected {
  background-color: var(--c146-3x4-4);
}

ul li.item-selected a {
  color: white;
  font-weight: bold;
}

