.calendar-card {
  height: calc(100vh - 2 * var(--h1-font-size));
}

.logo-week-card {
  display: flex;
  height: 10%;
}

.month-current-week-card {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
}

.month-card {
  flex: 0 0 20%;
}

.current-week-card {
  flex: 0 0 80%;
}

.year-card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
