@import 'index.css';

main {
  height: calc(100vh - 2 * var(--h1-font-size));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  margin-bottom: var(--h2-font-size);
  line-height: var(--h2-font-size);
  font-size: var(--h3-font-size);
  padding: var(--h6-font-size);
  width: 100%;
}
